.donate{
    /* position: absolute; */
    width: 1440px;
    height: 669px;
   background-image: url(../images/donation9.jpg);
    background-repeat: ;
    background-size: 1440px 670px;
}
.sub-donate{
    margin: 180px 250px;
}
.donate-header{
    color: #FFFFFF;
    font-weight: 700;
font-size: 65px;
text-align: center;
margin-bottom: 18px;


}
.donate-details{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: px;
    margin-bottom: 20px;
}
.donate-btn{
    background: #FF5959;
border-radius: 5px;
padding: 16px 20px ;
border: none;
margin-left: 320px;


}
.btn-text{
    color: #FFFFFF;
    font-weight: 600;
font-size: 20px;
padding: 16px 12px;

}
/* donate Today */
.today-header{
    text-align: center;
    font-weight: 700;
font-size: 45px;
margin-bottom: 20px;

}
.today-pera{
    color: #707070;
    font-weight: 400;
font-size: 18px;
text-align: center;
}
.today-ul{
    display: flex;
    gap: 22px;
}
.today-li{
    list-style: none;
    padding: 43px 23px;
    background: #FFEEEE;
border: 2px solid #FF5959;
border-radius: 5px;
}