.donate{
    /* position: absolute; */
    width: 1440px;
    height: 669px;
   background-image: url(../images/donation9.jpg);
    background-repeat: ;
    background-size: 1440px 670px;
}
.sub-donate{
    margin: 180px 250px;
}
.donate-header{
    color: #FFFFFF;
    font-weight: 700;
font-size: 65px;
text-align: center;
margin-bottom: 18px;


}
.donate-details{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: px;
    margin-bottom: 20px;
}
.donate-btn{
    background: #FF5959;
border-radius: 5px;
padding: 16px 20px ;
border: none;
margin-left: 320px;


}
.btn-text{
    color: #FFFFFF;
    font-weight: 600;
font-size: 20px;
padding: 16px 12px;

}
/* donate Today */
.today-header{
    text-align: center;
    font-weight: 700;
font-size: 45px;
margin-bottom: 20px;

}
.today-pera{
    color: #707070;
    font-weight: 400;
font-size: 18px;
text-align: center;
}
.today-ul{
    display: flex;
    gap: 22px;
    margin-left: 470px;
}
.today-li{
    list-style: none;
    padding: 43px 23px;
    background: #FFEEEE;
border: 2px solid #FF5959;
border-radius: 5px;
}
/* donate plan */
.donate-plan{
    text-align: center;
    font-weight: 700;
font-size: 45px;
margin-bottom: 20px ;
}
.plan-details{
    color: #707070;
    text-align: center;
    font-weight: 400;
font-size: 18px;
margin-bottom: 50px;
}
.plan-container{
    display: flex;
    gap: 24px;
}
.plans{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    background: rgba(255, 89, 89, 0.1);
}
.plan-header{
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 16px;
    color: #121212;
}
.plan-description{
    color: #707070;
    font-weight: 400;
font-size: 16px;

}
/* your donate */
.your-donate{
    display: flex;
    gap: 90px;
    margin-top: 140px;
}
.your-container{
width: 500px;
height: 400px;
background: rgba(79, 157, 166, 0.1);
margin-left: 150px;
}
.your-title{
    font-weight: 700;
font-size: 45px;
    margin-bottom: px;
    text-align: center;
}
.your-details{
    text-align: center;
    color: #707070;
    font-weight: 400;
font-size: 18px;
margin-top: 20px;
margin-bottom: 50px;

}
.your-btn{
    background: #FF5959;
    border-radius: 5px;
    padding: 16px 20px ;
    border: none;
}
.your-btn-text{
    color: #FFFFFF;
    font-weight: 600;
font-size: 20px;
padding: 16px 12px;
}
.your-img{
    margin-left: 150px;
    margin-right: 90px;
}
.your-container2{
    width: 500px;
height: 400px;
background: rgba(79, 157, 166, 0.1);
margin-right: 150px;
}